---
import Card from '@components/ui/Card.astro';
import Section from '@layouts/Section.astro';
import { getCollection } from 'astro:content';
import Next from './ui/Next.astro';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<Section title="Projects" id="projects">
	<div class="mb-10 grid w-full grid-cols-auto-fit-3 gap-3 p-1 sm:gap-5">
		{
			projects
				.reverse()
				.map((project) => (
					<Card
						image={project.data.image}
						url={`/projects/${project.data.title.toLowerCase().replace(/\s+/g, '-')}`}
						title={project.data.title}
						description={project.data.description}
						alt={project.data.img_alt}
						tags={project.data.tags}
					/>
				))
		}
	</div>
	<Next url="#tech" text="Technologies" />
</Section>
