---
import Tech from '@components/ui/Tech.astro';
import backgroundImage from '@assets/images/bg3.jpg';
import CardStyle from './ui/CardStyle.astro';
import GridComponent from './ui/GridComponent.astro';
import Next from './ui/Next.astro';
import { Icon } from 'astro-icon/components';
const technologyStacks = [
	{
		title: 'Java',
		icon: 'java',
		description:
			'Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.',
		tags: ['Java', 'OOP', 'JVM'],
	},
	{
		title: 'Spring Boot',
		icon: 'spring',
		description:
			'Spring Boot is an open-source Java-based framework used to create micro-services.',
		tags: ['Spring', 'Java', 'Microservices'],
	},
	{
		title: 'Flutter',
		icon: 'flutter',
		description: 'Flutter is an open-source UI software development kit created by Google.',
		tags: ['Flutter', 'Dart', 'UI', 'Android', 'iOS'],
	},
	{
		title: 'MySql',
		icon: 'mysql',
		description: 'MySQL is an open-source relational database management system.',
		tags: ['MySQL', 'Database', 'SQL'],
	},
	{
		title: 'AWS',
		icon: 'aws',
		description:
			'Amazon Web Services is a subsidiary of Amazon providing on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis.',
		tags: ['AWS', 'Cloud', 'S3', 'EC2'],
	},
	{
		title: 'ReactJS',
		icon: 'react',
		description:
			'React is an open-source, front end, JavaScript library for building user interfaces or UI components.',
		tags: ['React', 'JavaScript', 'UI'],
	},
];
---

<GridComponent title="Technology Stack" id="tech">
	<div class="mb-10 grid w-full grid-cols-auto-fit-4 gap-3 p-1 sm:gap-5">
		{
			technologyStacks.map((tech) => (
				<CardStyle
					name={tech.icon}
					title={tech.title}
					description={tech.description}
					tags={tech.tags}
				>
					<Icon name={tech.icon} title={tech.title} size={100} class="w-full p-5 aspect-square" />
				</CardStyle>
			))
		}
	</div>
	<Next url="#contact" text="Contact" slot="next" />
</GridComponent>
