---
import Tags from '@components/ui/Tags.astro';
import Layout from '@layouts/Layout.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((project) => ({
		params: { title: project.data.title.toLowerCase().replace(/\s+/g, '-') },
	}));
}
const { title } = Astro.params;
const projects = await getCollection('projects');
const project = projects.find((p) => p.data.title.toLowerCase().replace(/\s+/g, '-') === title);

if (!project) {
	throw new Error(`Project with title ${title} not found`);
}
---

<Layout
	meta={{
		description: project.data.description,
		image: project.data.image,
		url: `https://surojd.com.np/projects/${project.data.title.toLowerCase().replace(/\s+/g, '-')}/`,
	}}
	title={project.data.title}
	page={2}
>
	<div
		class="fixed z-10 flex w-full flex-col items-end bg-white text-orange dark:bg-black md:sticky md:top-14"
	>
		<Astronav closeOnClick>
			<div class="flex w-full">
				<div class="grid grow">
					<h1 class="place-self-center text-center text-xl font-bold md:text-2xl lg:text-3xl">
						{project.data.title}
					</h1>
					<a
						href={project.data.link}
						target="_blank"
						class="place-self-center text-xs font-bold text-blue-dark dark:text-blue"
					>
						Visit Website
					</a>
				</div>

				<div class="grid aspect-square place-items-center px-4 md:hidden">
					<MenuIcon class="text-gray-800 h-8 w-8" />
				</div>
			</div>
			<MenuItems
				class="absolute right-0 top-16 hidden transform rounded-lg border border-black bg-white px-3 text-right transition-transform dark:border-white dark:bg-black"
			>
				<h2 class="text-2xl font-bold text-orange">More Projects</h2>
				<ul>
					{
						projects.map((p) => (
							<li class="text-sm hover:text-orange" title={p.data.title}>
								<a
									class="inline-block w-full border-black p-2  text-black dark:border-white dark:text-white"
									href={`/projects/${p.data.title.toLowerCase().replace(/\s+/g, '-')}/`}
								>
									{p.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</MenuItems>
		</Astronav>
	</div>
	<div class="relative flex flex-col pt-16 md:flex-row">
		<main class="container mx-auto min-h-screen px-4">
			<Image
				class="mb-2 inline-block aspect-16/9 w-full rounded-lg object-cover md:hidden"
				src={project.data.image}
				alt={project.data.img_alt || project.data.title}
				format="avif"
				loading="lazy"
				widths={[400, 600]}
				quality={50}
				height={400}
				width={400}
			/>
			<div class="mb-2 whitespace-pre-line" set:html={project.rendered?.html} />
			<Tags tags={project.data.tags} />
		</main>
		<sidebar class="relative w-full md:w-80">
			<Image
				class="mb-2 hidden w-full md:inline-block"
				src={project.data.image}
				alt={project.data.img_alt || project.data.title}
				format="avif"
				loading="lazy"
				widths={[400, 600]}
				quality={50}
				height={400}
				width={400}
			/>
			<div class="sticky top-28 hidden flex-col items-center md:flex">
				<h2 class="text-2xl font-bold text-orange">More Projects</h2>
				<ul>
					{
						projects.map((p) => (
							<li class="  text-sm hover:text-orange" title={p.data.title}>
								<a
									class="inline-block w-full border-black py-2 text-center dark:border-white md:text-left"
									href={`/projects/${p.data.title.toLowerCase().replace(/\s+/g, '-')}/`}
								>
									{p.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</sidebar>
	</div>
</Layout>
