---
import Tags from '@components/ui/Tags.astro';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((project) => ({
		params: { title: project.data.title.toLowerCase().replace(/\s+/g, '-') },
	}));
}
const { title } = Astro.params;
const projects = await getCollection('projects');
const project = projects.find((p) => p.data.title.toLowerCase().replace(/\s+/g, '-') === title);

if (!project) {
	throw new Error(`Project with title ${title} not found`);
}
---

<Layout title={project.data.title} page={2}>
	<main class="container mx-auto min-h-screen p-4">
		<h1 class="text-center text-4xl font-bold">
			{project.data.title}
		</h1>
		<a
			href={project.data.link}
			target="_blank"
			class="inline-block w-full pb-8 text-center text-xs hover:text-orange"
		>
			Visit Website
		</a>
		<div class="mb-4 flex flex-col-reverse items-start md:flex-row">
			<Image
				class="mb-2 mr-2 inline-block w-full md:w-1/3"
				src={project.data.image}
				alt={project.data.img_alt || project.data.title}
			/>
			<div class="mb-2 whitespace-pre-line" set:html={project.rendered?.html} />
			<!-- print render html -->
		</div>
		<Tags tags={project.data.tags} />
	</main>
</Layout>
