---
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
	page: number;
	meta?: {
		description: string;
		image: any;
		url: string;
	};
}

let { title = 'Java developer', page, meta } = Astro.props as LayoutProps;
title += ' - Suroj Dangol';

const description =
	meta?.description ??
	'I am a Java developer with 8 years of experience in developing web applications. I am also a full-stack developer with experience in front-end technologies like React, Angular, and Vue.js. I have worked on various projects ranging from small to large-scale applications. I am passionate about learning new technologies and always looking for ways to improve my skills. I am currently looking for new opportunities to work on exciting projects and grow as a developer.';

const imageUrl = 'https://surojd.com.np' + (meta?.image?.src ?? '/surojd.jpg');
const url = meta?.url ?? 'https://surojd.com.np/';
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title={title}
			description={description}
			canonical={url}
			openGraph={{
				basic: {
					title: title,
					type: 'website',
					image: imageUrl,
					url: url,
				},
				image: {
					alt: title,
					height: 800,
					width: 800,
					url: imageUrl,
				},
			}}
			twitter={{
				card: 'summary_large_image',
				site: '@SurojDangol',
				creator: '@SurojDangol',
				title: title,
				description: description,
				image: imageUrl,
				imageAlt: title,
			}}
		/>
		<meta name="author" content="Suroj Dangol" />
		<meta
			name="keywords"
			content="Java, developer, Flutter, Spring Boot, full-stack, web, mobile, applications, React"
		/>
		<meta name="theme-color" content="#000000" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="bingbot" content="index, follow" />
		<meta name="yandex" content="index, follow" />
		<meta name="referrer" content="no-referrer-when-downgrade" />
		<meta name="format-detection" content="telephone=no" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="head" />
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white font-sans text-black dark:bg-black dark:text-white xs:text-[16px] md:text-[18px]"
	>
		<Navbar nav="topnav" page={page} />

		<slot />
		<Contact />
		<BackToTop />
		<Footer />

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
