---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
	page: number;
}

let { title, page } = Astro.props as LayoutProps;
if (title === undefined) {
	title = 'Suroj Dangol | Java developer';
} else {
	title = title + ' | Suroj Dangol';
}
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title={title}
			description="I am a Java developer with 8 years of experience in developing web applications. I am also a full-stack developer with experience in front-end technologies like React, Angular, and Vue.js. I have worked on various projects ranging from small to large-scale applications. I am passionate about learning new technologies and always looking for ways to improve my skills. I am currently looking for new opportunities to work on exciting projects and grow as a developer."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white font-sans text-black dark:bg-black dark:text-white xs:text-[16px] md:text-[18px]"
	>
		<div class="sticky top-0 z-40 hidden sm:block">
			<Navbar nav="topnav" page={page} />
		</div>
		<slot />
		<Footer />
		<div class="show sticky bottom-0 z-40 sm:hidden">
			<Navbar nav="bottomnav" page={page} />
		</div>

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
