---
import projectImage from '@assets/images/project.webp';
import Tags from '@components/ui/Tags.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
	url?: string;
	name?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	name = 'home-account',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<article
	data-testId="card"
	class="rounded-xl bg-white pb-3 shadow-lg outline outline-1 outline-black duration-100
hover:scale-105 hover:transform hover:shadow-xl hover:outline-orange dark:bg-black dark:outline-white dark:hover:outline-orange"
>
	<a href={url} aria-label={`${title} - Project Details`} class="flex flex-col h-full">
		<slot />
		<div class="mt-1 grow px-2 flex flex-col gap-1">
			<h3
				class="text-md overflow-hidden overflow-ellipsis whitespace-nowrap hover:overflow-visible sm:text-lg lg:text-xl"
				title={title}
			>
				{title}
			</h3>
			<p class="text-xs sm:text-sm grow">
				{description}
			</p>
			<Tags tags={tags} />
		</div>
	</a>
</article>
