---
import Tags from '@components/ui/Tags.astro';

interface Props {
	url?: string;
	name?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	name = 'home-account',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<article
	data-testId="card"
	class="rounded-xl bg-white pb-3 shadow-lg outline outline-1 outline-black duration-100
  hover:transform hover:shadow-xl hover:outline-orange dark:bg-black dark:outline-white dark:hover:outline-orange"
>
	<div title={`${title} - Project Details`} class="flex h-full flex-col cursor-pointer">
		<slot />
		<div class="mt-1 flex grow flex-col gap-1 px-2">
			<h3
				class="text-md overflow-hidden overflow-ellipsis whitespace-nowrap hover:overflow-visible sm:text-lg lg:text-xl"
				title={title}
			>
				{title}
			</h3>
			<p class="grow text-xs sm:text-sm">
				{description}
			</p>
			<Tags tags={tags} />
		</div>
	</div>
</article>
