---
import projectImage from '@assets/images/project.webp';
import Tags from '@components/ui/Tags.astro';
import { Image } from 'astro:assets';

interface Props {
	url?: string;
	image?: any;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	image = projectImage,
	alt = 'Project image',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<article
	data-testId="card"
	class="rounded-xl bg-white p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl dark:bg-opacity-45"
>
	<a href={url} aria-label="link to project" >
		<div class="relative flex items-end overflow-hidden rounded-xl">
			<!-- <img src={image.toString()} alt={alt} loading="lazy" /> -->
			<Image src={image} alt={alt} widths={[400, 600, image.width]} />
		</div>
		<div class="mt-1 p-2">
			<h3
				class="sm:text-md overflow-hidden overflow-ellipsis whitespace-nowrap text-lg hover:overflow-visible  lg:text-xl"
				title={title}
			>
				{title}
			</h3>
			<p
				class="overflow-hidden overflow-ellipsis whitespace-nowrap text-xs  sm:text-sm"
			>
				{description}
			</p>
			<Tags tags={tags} />
		</div>
	</a>
</article>
