---
import projectImage from '@assets/images/project.png';
import Tags from '@components/ui/Tags.astro';
import { Image } from 'astro:assets';

interface Props {
	url?: string;
	image?: string;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	image = projectImage,
	alt = 'Project image',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

	<article
		data-testId="card"
		class="rounded-xl dark:bg-opacity-45 bg-white p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
	>
		<a href={url} aria-label="link to project" target="_blank">
			<div class="relative flex items-end overflow-hidden rounded-xl">
				<img src={image} alt={alt} format="png" loading="lazy" />
			</div>
			<div class="mt-1 p-2">
				<h3 class="text-sm sm:text-md text-orange dark:text-yellow lg:text-lg overflow-hidden whitespace-nowrap overflow-ellipsis hover:overflow-visible" title={title}>{title}</h3>
				<p class="text-xs sm:text-sm text-black overflow-hidden whitespace-nowrap overflow-ellipsis hover:overflow-visible">{description}</p>
				<Tags tags={tags} />
			</div>
		</a>
	</article>
<style>
	article:hover>a>div>h3,
	article:hover>a>div>p
	{
		overflow: visible;
		white-space: wrap;
	}
</style>