---
import projectImage from '@assets/images/project.webp';
import Tags from '@components/ui/Tags.astro';
import { Image } from 'astro:assets';
import { lazy } from 'astro:schema';

interface Props {
	url?: string;
	image?: any;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	image = projectImage,
	alt = 'Project image',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<article
	data-testId="card"
	class="*: rounded-xl bg-white pb-3 shadow-lg outline outline-1 outline-black duration-100
	hover:transform hover:shadow-xl hover:outline-orange dark:bg-black dark:outline-white dark:hover:outline-orange"
>
	<a href={url} aria-label={`${title} - Project Details`}>
		<div class="relative flex aspect-square items-end overflow-hidden rounded-t-xl">
			<Image
				class="h-full w-full"
				src={image}
				alt={alt}
				format="avif"
				loading='lazy'
				widths={[400, 600]}
				quality={50}
				height={400}
				width={400}
			/>
		</div>
		<div class="mt-1 px-2">
			<h3
				class="text-md overflow-hidden overflow-ellipsis whitespace-nowrap hover:overflow-visible sm:text-lg lg:text-xl"
				title={title}
			>
				{title}
			</h3>
			<p class="overflow-hidden overflow-ellipsis whitespace-nowrap text-xs sm:text-sm">
				{description}
			</p>
			<Tags tags={tags} />
		</div>
	</a>
</article>
