---
import { Icon } from 'astro-icon/components';

const { id = 'checkbox', size = 24 } = Astro.props;
---

<div id={id} class="grid w-10 cursor-pointer place-items-center text-black dark:text-white">
	<Icon
		class:list={['hidden']}
		id={'dark-' + id}
		size={size}
		name="mdi:weather-night"
		class="text-yellow-300 dark:text-yellow-300"
	/>
	<Icon
		class:list={['hidden']}
		id={'light-' + id}
		size={size}
		name="mdi:weather-sunny"
		class="text-yellow-300 dark:text-yellow-300"
	/>
</div>

<style>
	input:checked + .slider:before {
		transform: translateX(26px);
	}
</style>
<script define:vars={{ id }}>
	document.addEventListener('DOMContentLoaded', function ready() {
		const button = document.querySelector(`#${id}`);
		const dark = document.querySelector(`#dark-${id}`);
		const light = document.querySelector(`#light-${id}`);
		let systemTheme = localStorage.getItem('theme');
		const switchTheme = (theme) => {
			localStorage.setItem('theme', theme);
			document.documentElement.classList.toggle('dark', theme === 'dark');
			dark.classList.toggle('hidden', theme === 'light');
			light.classList.toggle('hidden', theme === 'dark');
		};
		// Determine the system theme setting at the start
		if (systemTheme === null)
			systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

		// Apply the system theme on load
		switchTheme(systemTheme);

		button.addEventListener('click', () => {
			systemTheme = systemTheme === 'dark' ? 'light' : 'dark';
			switchTheme(systemTheme);
		});
	});
</script>
